{% extends '@SonataAdmin/CRUD/edit.html.twig' %}

{% block form %}
    {{ parent() }}

    <h1>Personnalisation du formulaire d'édition des abonnés</h1>
    {# Ajoutez votre contenu personnalisé ici #}
{% endblock %}