

    <div class="card">
        <div class="card-body ms-4 mt-4 mb-4">
            <h4 style=" font-weight: 600;color: #012C50;opacity: 1;" class="card-title">Bonjour, Admin !</h4>
            <h4 class="col-6" style="color: #414141;opacity: 1;line-height: 29px;" class="card-text">un monde d'accueil et un guide pour le nouveau portail intranet!</h4>

        </div>
    </div>
    <div class="row ">
        <div class="card col-5 mt-4 mx-4" style="background-color: #005FAE; color: #ffffff;">
            <div class="card-body d-flex align-items-center">
                <div>
                    <h1 style="font-size: 54px;" class="card-title">04</h1>
                    <h5 style="opacity: 1;" class="col-8 card-text">Nombre d'utilisateurs</h5>
                </div>
                <img src="{{ asset("/img/user-multiple.png") }}" alt="Logo" class="logo ml-3">
            </div>
        </div>
        <div class="card col-5 mt-4 mx-4" style="background-color: #00A65A; color: #ffffff;">
            <div class="card-body d-flex align-items-center">
                <div>
                    <h1 style="font-size: 54px;" class="card-title">67</h1>
                    <h5 style="opacity: 1;" class="col-8 card-text">Nombre De zones</h5>
                </div>
                <img src="{{ asset("/img/building.png") }}" alt="Logo" class="logo ml-3">
            </div>
        </div>
        <div class="card col-5 mt-4 mx-4" style="background-color: #F39C12; color: #ffffff;">
            <div class="card-body d-flex align-items-center">
                <div>
                    <h1 style="font-size: 54px;" class="card-title">38</h1>
                    <h5 style="opacity: 1;" class="col-8 card-text">Nombre D'agents</h5>
                </div>
                <img src="{{ asset("/img/user-simulation.png") }}" alt="Logo" class="logo ml-3">
            </div>
        </div>
        <div class="card col-5 mt-4 mx-4" style="background-color: #DD4B39; color: #ffffff;">
            <div class="card-body d-flex align-items-center">
                <div>
                    <h1 style="font-size: 54px;" class="card-title">86</h1>
                    <h5 style="opacity: 1;" class="col-8 card-text">Nombre D'analyses</h5>
                </div>
                <img src="{{ asset("/img/analytics.png") }}" alt="Logo" class="logo ml-3">
            </div>
        </div>
    </div>

